# Default ignored files
/shelf/
/workspace.xml
/PythonSeleniumProject/LearningSelenium/__pycache__/Driver.cpython-310.pyc
/PythonSeleniumProject/LearningSelenium/__pycache__/Subscription.cpython-310.pyc
